:root {
    --bg: white;
    --clr-black: #050505;
    --clr-lighter-black: #121212;
    --clr-dark-gray: #353535;
    --clr-medium-gray: #666666;
    --clr-lighter-gray: #7f7f7f;
    --clr-light-gray: #999999;
    --clr-gray: #e5e5e5;
    --clr-white: #f4f4f4;
    --clr-accent: #087fe7;
    --box-shadow-clr-1: rgba(0, 0, 0, 0.1);
    --box-shadow-clr-2: rgba(0, 0, 0, 0.2);
    font-family: Inter;
    --font-sz-53: 53px;
    --font-sz-45: 45px;
    --font-sz-36: 36px;
    --font-sz-26: 26px;
    --font-sz-24: 24px;
    --font-sz-18: 18px;
    --font-sz-15: 15px;
    --font-sz-14: 14px;
    --font-sz-13-5: 13.5px;
    --font-sz-13: 13px;
    --font-sz-12: 12px;
    --line-height-3: 2;
    --line-height-2: 1.5;
    --line-height-1: 1.3;
}

@font-face {
    font-family: Inter;
    src: url(material/Inter.ttf);
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
#header {
    height: 50px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg);
    border-bottom: 1px solid var(--clr-white);
    
}

#logo { 
    height: 20px;
}

#nav-container1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

#nav-container2 {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: var(--font-sz-14);
}


#nav-container2 img {
    height: 15px;
    display: none;
}

#barky1 {
    background-color: var(--clr-black);
    border-radius: 3px;
    color: var(--clr-white);
    padding: 3px 5px;
    text-decoration: none;
}
                    /* DROPDOWN MENY */
.top-menu-container a {
    text-decoration: none;
    color: var(--clr-black);
}

.top-menu-item {
    font-size: var(--font-sz-14);
}

.sub-menu-items img {
    height: 35px;
    border: 1px solid var(--clr-gray);
    border-radius: 3px;
}

.sub-menu-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px;
    margin: 3px;
    border-radius: 3px;
}

.sub-menu-items p {
    padding: 5px;
    margin: 0;
    font-size: var(--font-sz-13-5);
}

.sub-menu-item-text {
    font-size: var(--font-sz-12);
    color: var(--clr-light-gray)
}

.top-menu-item {
    display: flex;
    position: relative;
    padding: 5px;
    border-radius: 3px;
}

.top-menu-item img {
    height: 8px;
    display: inline;
    padding: 6px 4px;
}

.top-menu-item:hover {
    background-color: var(--clr-white);
    padding: 5px;
}

.sub-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--bg);
    box-shadow: 1px 4px 3px 4px var(--box-shadow-clr-1);
    border-radius: 3px;
}

.sub-menu a:hover {
    background-color: var(--clr-white);
}

.top-menu-container:hover .sub-menu {
    display: flex;
}

#sub-menu-item-text-link:hover {
    color: var(--clr-accent);
    text-decoration: dotted;
}
                    /* DROPDOWN MENY END */
/* HEADER END */

#home-page h1 {
    color: var(--clr-black);
    font-size: var(--font-sz-45);
    margin: 0;
}

#home-page {
    display: flex;
    height: 250px;
    width: auto;
    justify-content: space-between;
    gap: 30px;
    padding: 8% 5%;
}

#home-page p {
    padding: 10px 0 20px 0;
    font-size: var(--font-sz-18);
    color: var(--clr-lighter-gray);
    line-height: var(--line-height-2);
    margin: 0;
}

#home-page-image {
    width: auto;
}

.barky2 {
    background-color: var(--clr-black);
    border-radius: 3px;
    color: var(--clr-white);
    padding: 7px 7px;
    text-decoration: none;
}

/* LOGOTYPES */
#logotypes-wrapper {
    padding: 25px;
    border-top: 1px solid var(--clr-white);
    border-bottom: 1px solid var(--clr-white);
}

.logotypes {
    gap: 15px;
    text-align: center;
}

.logotype {
    height: 25px;
    padding: 10px;
}
/* LOGOTYPES END */

/* INFO-BOXES */
.image {
    width: 100%;
    box-shadow: 0px 0px 20px 5px var(--box-shadow-clr-1);
    border-radius: 10px;
}

.quote {
    text-align: center;
    color: var(--clr-light-gray);
}

.info-box {
    padding: 50px 0;
}

.info-box h2 {
    margin: 0;
    font-size: var(--font-sz-36);
}

.info-box p {
    line-height: 1.5;
    color: var(--clr-light-gray);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 12px;
}

#face1 {
    background-image: url(material/face-01.png);
    height: 35px;
    width: 35px;
    background-size: cover;
    background-repeat: no-repeat;
}

#face2 {
    background-image: url(material/face-02.png);
    height: 35px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

#face3 {
    background-image: url(material/face-03.png);
    height: 35px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
}

#text-box {
    text-align: center;
    padding: 30px;
    border-top: 1px solid var(--clr-white);
    font-size: 15px;
}

#text-box h2 {
    margin: 0;
}
/* INFO-BOXES END */

/* LIST */
/* Lägga till span?? */
#list-box {
    background-color: var(--clr-white);
    margin: 50px 0;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#list-box p {
    color: var(--clr-light-gray);
}

.row {
    display: flex;
    justify-content: space-between;
}

.dark-text {
    color: var(--clr-dark-gray);
}
/* LIST END */

/* GRID2 */
#grid2-wrapper {
    text-align: center;
    border-top: 1px solid var(--clr-white);
    padding: 50px 0;
}

#grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

#grid2-wrapper a {
    color: var(--clr-black);
}

#grid2 h2 {
    margin: 0;
}

#grid2 a:hover {
    color: var(--clr-accent);
}

.grid2-item {
    border-right: 1px solid var(--clr-white);
}
/* GRID2 END */

/* STATISTICS */
#statistics {
    padding: 50px 0;
}

#statistics h1 {
    text-align: center;
}

#statistics-wrapper {
    display: flex;
    justify-content: center;
}

#badges {
    height: 175px;
}

#grid3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
}

.grid-3-cell {
    border-right: 1px solid var(--clr-white);
}

#grid3 h1 {
    font-size: 53px;
    margin: 0;
    color: var(--clr-lighter-gray);
}

#grid3 p {
    color: var(--clr-light-gray);
}
/* STATISTICS END */

#text-box2 {
    text-align: center;
    padding: 40px 0;
}

/* FOOTER */
footer {
    display: flex;
    padding: 40px 0;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid var(--clr-white);
    max-width: 1200px;
    justify-content: space-between;
}

footer p {
    font-size: var(--font-sz-12);
    color: var(--clr-black);
}

#logo2 {
    height: 33px;
    padding: 10px 0;
}

#socials img {
    height: 22px;
    padding: 0 3px;
}

#grid4 {
    display: flex;
    gap: 70px;
}

.footer-container{
    line-height: var(--line-height-3);
}

.footer-container a{
    display: block;
}
/* FOOTER END */

/* MEDIA QUERIES SURFPLATTA */
@media (max-width: 1080px) {

    .top-menu-container {
        display: none;
    }

    #home-page {
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
        height: auto;
    }

    #home-page-image {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    #nav-container2 a {
        display: none;
    }

    #nav-container2 img {
        display: flex;
    }

    #nav-container2 img:hover {
        background-color: var(--clr-white);
        border-radius: 3px;
    }
    
    #grid2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #grid2-item {
        padding: 20px 0;
    }

    #grid3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .grid-3-cell {
        border-right: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        max-width: 1080px;
    }

    #grid4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
}

/* MEDIA QUERIES MOBIL */

@media (max-width: 600px) {

    #barky1 {
        display: none;
    }

    .info-box-text {
        text-align: center;
    }
}